<!doctype html>
<html lang="en" class="h-100">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <title>Sign In - Resto</title>
    
    <!-- Bootstrap core CSS -->
    <link href="../assets/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../css/SignIn.css" rel="stylesheet">
    <link href="../css/index.css" rel="stylesheet">
</head>
<body>
    <section class="vh-100">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                    <div class="card shadow-2-strong" style="border-radius: 1rem;">
                        <div class="card-body p-5 text-center">

                            <div class="text-base text-bold mb-4">
                                Admin
                            </div>

                            <form>
                                <div class="form-outline mb-4 text-xs text-semi" id="form-label-overrides">
                                    <label class="form-label" for="getemail" >username</label>
                                    <input type="email" id="getemail" class="form-control form-control-lg text-xs" placeholder="Masukkan username" />
                                </div>

                                <div class="form-outline mb-4 text-xs text-semi" id="form-label-overrides">
                                    <label class="form-label" for="getpassword">password</label>
                                    <input type="password" id="getpassword" class="form-control form-control-lg text-xs" placeholder="Masukkan password" />    
                                </div>

                                <div class="d-grid gap-2 col-6 mx-auto">
                                    <button class="btn btn-primary btn-lg text-2xs text-semi mb-4" type="button">Masuk</button>
                                </div>

                            </form>
                        </div>
                    </div>
              </div>
        </div>
      </div>
    </section>
</body>
</html>
